<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prashanth</title>
</head>
<body>
    <pre>
    <center>
    <marquee width="400" height="100" style="background-color:blue; color: white;"><h1>Full <sup style="color:green;">Stack</sup> <ins>Java</ins> <sub style="background-color: red; color: yellow;">Developer</sub></h1></marquee>
    <h1>Horizontal line</h1>
    <hr>
    <h1>Scrolling Text</h1>
    <marquee scrollamount="100">HTML CSS Javascript</marquee>
    <marquee direction="right" width="700" style="background-color:pink; color: green;"><h1>Text scrooling from left to right</h1></marquee>
    </center>
    </pre>
</body>
</html>