@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap');

 .weather-box{
    width: 700px;
    background-color: white;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    padding: 0 0  1rem 0;
    text-transform: capitalize;
    box-shadow: 0 0 10px  rgb(255, 255, 255);
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.521);

 }

 .values{
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0.295);
 }
  .half{
   width: 50%;
  }
 .temp{
   
    /* border: 2px solid black; */
    align-items: center;
 }
 
 .citynameh4{
  text-align: center;
  padding: 0.5rem 0;
 }
 .temp-box{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px 20px 10px 20px;
 }
 .temp-icon{
   font-size: 5rem;
   color: black;
 }

 .temperature{
   font-size: 5rem;
   font-family: 'Work Sans', sans-serif;
   color: black;
   margin-left: 0.5rem;
 }

 .celsius{
   font-size: 1.7rem;
   position: relative;
    bottom: 2rem;
    right: 1.5rem;
 }

 .first-row{
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .address{
   padding-right: 1rem;
 }

 .second-row{
   display: flex;
    width: 100%;
    padding: 1rem 2rem;
    border-bottom: 1px solid rgba(117, 117, 117, 0.336);
 }
 
 .humidity{
   display: flex;
 }
.wind{
   display: flex;
}

.humid-val{
  display: flex;
   margin:  0 auto 0  1rem;
  align-items: center;
}

.humid-box{
  display: flex;
  align-items: center;
  justify-content: center;
}
.humid-box p{
   margin: 0 0 0 0.8rem;
}
.humid-box span i{
  margin: 0 0 0 0.5rem;
  font-size: 2rem;
}

.fa-solid{
  color: black;
}