@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap');

 .weather-box{
    width: 700px;
    background-color: white;
    margin: 0 auto;
    border: none;
    border-radius: 20px;
    padding: 1rem 0  1rem 0;
    text-transform: capitalize;
    box-shadow: 0 0 10px  rgb(255, 255, 255);
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    min-height: 500px;
    color: rgba(0, 0, 0, 0.521);
 }
 
/*  css for grid layout */

.grid{
  padding: 0 1rem;
  display: grid;
   grid-template-columns: 50% 50%;
   column-gap:0.2rem;
    row-gap:1rem;
   width: 100%;
}

 .circleLoader{
  width: 100%;
  display: flex;
  justify-content: center;
 }

 .backdrop{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
     text-align: center;
     background-color: rgb(179, 156, 156);
     border-radius: 3rem;
     padding: 3rem 5rem;
     text-transform: capitalize;
     color: black;
     transition: 0.5s ease-in-out;
 }
 .backdrop:hover{
    
  background-color: rgba(0, 255, 255, 0.992);
}

 .backdrop button{
    width: 5rem;
    height:  3rem;
    border: none;
    background-color: rgb(84, 217, 215);
    border-radius: 2rem;
    transition: 0.5s;
    border: 1px solid black;
 }
 .backdrop button:hover{
  background-color: rgb(2, 248, 244);
}